@use '../../utils/variables.scss' as *;

.title {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 70px;
    text-align: center;
}

.contact {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.image {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px) scale(1.03);
    }
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input, .textArea {
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: $small-width) {
    .title {
        font-size: 30px;
    }

    .imgContainer { 
        height: 400px;
    }
}

@media (max-width: $extra-small) {
    .title {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .imgContainer { 
       height: 300px;
    }
}