@use '../utils/variables.scss' as *;

.container {
  display: grid;
  grid-template-areas: 
    "title imgContainer"
    "descContainer imgContainer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.8fr;
  gap: 4%;
  //margin: auto 0;
}

.descContainer {
  grid-area: descContainer;
  margin-bottom: 100px;
}

.imgContainer {
  grid-area: imgContainer;
}

.title {
  grid-area: title;
  font-size: 62px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto 0;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.desc {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media (max-width: $large-width) {
  .title {
    font-size: 52px;
  }

  .desc {
    font-size: 26px;
  }
}

@media (max-width: $medium-width) {
  .title {
    font-size: 38px;
  }

  .desc {
    font-size: 20px;
  }
}

@media (max-width: $small-width) {
  .container {
    text-align: center;
    grid-template-areas: 
      "title"
      "imgContainer"
      "descContainer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .title {
    font-size: 44px;
  }

  .imgContainer {
    display: flex;
    margin: 10px auto;
    width: 80%;
  }

  .desc {
    font-size: 20px;
  }
}

@media (max-width: $extra-small) {
  .title {
    font-size: 36px;
  }

  .desc {
    font-size: 18px;
  }
}