@use '../../utils/variables.scss' as *;

.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
}

.right {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
}

.links {
    display: flex;
    gap: 20px;
    margin: 0 10px;
}

.signout, .signin {
    white-space: nowrap;
    padding: 5px;
    border: none;
    background-color: #ad1919;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.signin {
    background-color: #53c28b; 
}

.signout:hover, .signin:hover {
    opacity: 0.8;
}

@media (max-width: $medium-width) {
    .right {
        font-size: 16px;
        gap: 16px;
    }

    .links {
        gap: 15px;
        margin: 0 7px;
    }

    .logo {
        font-size: 18px;
    }
}

@media (max-width: $small-width) {
    .logo {
        font-size: 14px;
    }

    .right {
        gap: 12px;
        font-size: 12px;
    }

    .links {
        gap: 10px;
        margin: 0 5px;
    }

    .signin, .signout {
        font-size: 12px;
    }
}

@media (max-width: $extra-small) {
    .logo, .right {
        font-size: 10px;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 7px;
        row-gap: 5px;
        margin: 0 auto;
        text-align: center;
    }

    .signin, .signout {
        font-size: 10px;
        margin-left: 2%;
    }
}
